<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= projeto.nome %></title>
</head>
<body>
    <h1><%= projeto.nome %></h1>
    <p><% if (projeto.estado == 1){%>
            Em espera
        <%} else if(projeto.estado == 2) {%>
            Fazendo
        <%} else {%>
            Feito
        <%}%></p>
    <p><%= projeto.dia %>/ <% if(projeto.mes < 10) {%>
             0<%= projeto.mes %>
        <%} else {%>
            <%= projeto.mes %>
        <%}%>/<%= projeto.ano %></p>
    <p><%= projeto.gerente_email %></p>
    <p><%= projeto.id %></p>
</body>
</html>