<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title><%= projeto.nome %></title>
</head>
<body>
    <h1><%= projeto.nome %></h1>
    <p><% if (projeto.estado == 1){%>
            Em espera
        <%} else if(projeto.estado == 2) {%>
            Fazendo
        <%} else {%>
            Feito
        <%}%></p>
    <p><%= projeto.dia %>/ <% if(projeto.mes < 10) {%>
             0<%= projeto.mes %>
        <%} else {%>
            <%= projeto.mes %>
        <%}%>/<%= projeto.ano %></p>
    <p><%= projeto.gerente_email %></p>
    <p><%= projeto.id %></p>
    <p><a class="btn" href="/projeto/addpessoa?projeto=<%= projeto.id %>">adicionar pessoa</a></p>
    <p><input type="button" value="deletar" onclick="deletar()"></p>

    <script>
        function deletar()
        {
          const request = new XMLHttpRequest()
          request.open("DELETE",`/projeto?id=<%= projeto.id %>`, true)
          request.setRequestHeader("Content-type", "application/json")
          request.send()
          request.onload = () => {
            window.location.href = "/projetos"
          }
        }
    </script>
</body>
</html>